/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400&family=Noto+Sans:wght@500&display=swap");
/* Header Font */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Geologica:wght@100&family=Noto+Sans:wght@300&display=swap");
/* Heading's */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 4px;
  font-family: "Audiowide", sans-serif;
  margin-bottom: 1em;
}
/* Scroll Behavior */
html {
  scroll-behavior: smooth;
}
/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geologica, sans-serif;
  color: #fff;
}
/* Body */
/* Loading Wheel */
#loading {
  opacity: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  visibility: visible;
  z-index: 999999;
  position: absolute;
  background-color: #000000eb;
  animation: fade-away 0.2s 2s ease-in forwards;
}
#wheel {
  opacity: 0;
  animation: fade-in 0.2s 0.1s ease-in forwards,
    wheel-spin 3.5s 0.5s ease-in none, speed-off 0.9s 1.6s ease-in forwards;
}
@keyframes wheel-spin {
  to {
    transform: rotateZ(9080deg);
  }
}
@keyframes speed-off {
  to {
    transform: translateX(4000px);
  }
}
@keyframes fade-away {
  to {
    visibility: hidden;
    z-index: -999;
    opacity: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
body {
  background-image: url("../images/mobile-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
}
/* Hidden Content */
.hidden {
  display: none;
}
/* Page Header */
.site-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* Page Logo */
.page-logo > a > img {
  z-index: 101;
  width: 150px;
  margin: 0.5em;
}
/* Navigation Toggle Button */
#nav-toggle-box {
  display: none;
}
/* Font Awesome Icons */
.fa-regular,
.fa-solid {
  font-size: 1.3rem;
  margin-right: 0.5em;
}
.fa-copyright {
  font-size: 0.8rem;
  margin-right: 0;
}
.fa-bars {
  font-size: 2rem;
  cursor: pointer;
}

/* Nav Menu */
#menu {
  list-style: none;
  text-align: right;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 10vh;
  float: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: end;
  gap: 1em;
}
/* Navigation Toggle */
.nav-toggle-box-label {
  z-index: 101;
}
#nav-toggle-box:checked ~ #navigation-menu {
  opacity: 1;
  transition: 0.2s opacity;
  display: block;
}
/* Menu */
#menu li {
  padding: 1em 0;
  border: 1.5px solid #fff;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
#menu li:hover {
  border: 1.5px solid #fb07ef;
  transition: 0.2s border;
}
#menu li a {
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  letter-spacing: 4px;
}
#navigation-menu {
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
  padding-right: 1em;
  width: 100%;
  right: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  display: none;
}
/* Main Section */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  gap: 1em;
  flex-grow: 1;
}
/* Hero Section */
#hero-section {
  background: url("../images/hero-img-mobile.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 9/16;
  margin-bottom: -50px;
}
#slogan {
  height: fit-content;
  margin-top: 100px;
  margin-left: 2rem;
  width: min-content;
  float: right;
}
#slogan > h1 {
  margin-bottom: 1rem;
  font-size: 2em;
  text-align: end;
  margin-right: 1em;
  text-shadow: 2px 2px 5px black;
}
#slogan > h1 > span {
  font-family: "Audiowide", sans-serif;
  color: #fb07ef;
  font-style: italic;
  font-size: 2.5rem;
}
/* Cars Section */
#cars {
  height: fit-content;
  padding-top: 70px;
  margin-top: -150px;
  padding: 70px 5px 0px 5px;
}
/* Card Gallery */
#card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1em;
}
/* Card Style */
.card {
  height: fit-content;
  background-color: #00000093;
  border-radius: 1em;
  flex: 1 1 300px;
  max-width: 4000px;
}
.card-image {
  height: 400px;
  width: 100%;
  border-radius: 1em 1em 0 0;
  background-color: #383838;
}
/* Individual Card Images */
#vw-golf {
  background: url("../images/cars/vw-golf.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bmw-m5 {
  background: url("../images/cars/bmw-m5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#subaru-sti {
  background: url("../images/cars/subaru-sti.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wrx-sti {
  background: url("../images/cars/subaru-wrx.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#toyota-altezza {
  background: url("../images/cars/toyota-altezza.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#honda-civic {
  background: url("../images/cars/honda-civic.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Badges */
.badges {
  height: fit-content;
  background-color: #00000093;
  z-index: 999;
  width: fit-content;
  float: right;
  border-radius: 0 1em 0 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
/* Car Stats */
.car-stats-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  justify-content: space-between;
  gap: 1em 2em;
  margin-bottom: 0.5em;
  padding: 0 1em 0 1em;
}
.car-stats-list li {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0em 0.5em;
}
/* Car Description */
.car-description p {
  padding: 0.1em;
}
/* Car Information Wrapper */
.car-information {
  padding: 0.5em;
}
.car-information h4 {
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
/* Contact Section */
.row-1-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: fit-content;
  flex: 1 1 auto;
}
/* Contact Form */
/* Contact Us Wrapper */
#contact-us {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
  padding-top: 70px;
}
#contact-us > header {
  margin-left: 0.5em;
}
/* Form */
#contact-us-form {
  height: fit-content;
  background: url("../images/m-buildz-poster-crop-low-expo.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
#contact-form {
  color: #fff;
  max-width: 500px;
  padding: 1em;
  align-self: flex-start;
}
#contact-form label {
  display: none;
}
#contact-form::placeholder {
  color: #fff;
}
.text-input {
  color: #fff;
  width: 100%;
  height: 30px;
  background: #000000c1;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid #383838;
  border-radius: 0.4em;
}
.text-input::placeholder {
  color: #f5f5f5;
}
.text-input:hover {
  border-color: #fb07ef;
}
textarea {
  color: #ffffff;
  resize: none;
  background: #000000c1;
  border-radius: 0.4em;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #383838;
  opacity: 1;
  height: 200px;
}
textarea::placeholder {
  color: #f5f5f5;
}
textarea:hover {
  border: 1px solid #fb07ef;
}
.submit {
  margin-top: 0.5em;
  border-radius: 0.3rem;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #000000c1;
  color: #fff;
  text-align: center;
  border: 1px solid #383838;
}
.submit:hover {
  border: 1px solid #fb07ef;
  background-color: #f5f5f5;
  color: #000;
  cursor: pointer;
}
/* Contact Information Section*/
.row-1-wrap-address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: fit-content;
  flex: 1 1 auto;
  gap: 1em;
}
#contact-information {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 500px;
  flex: 1 1 500px;
  padding: 1em;
}
#email-and-number {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
#phone {
  justify-self: end;
}
#opening-hours {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-self: center;
  margin-top: 2em;
}
.dash {
  padding-right: 1em;
}
#row-2-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
}
/* Google Map */
iframe {
  width: 100%;
}
#google-map {
  width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  align-self: center;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 9999;
}
/* Social Media Links */
#socials {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 0.5rem;
}
#socials i {
  font-size: 110%;
  padding: 5%;
  color: #fff;
}
#socials i:hover {
  color: #f5f5f5;
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
/* Copyright */
#copyright {
  align-self: center;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 100;
}
/* Media query: tablets and larger (870px and up) */
@media screen and (min-width: 870px) {
  /* Body */
  body {
    background-image: url("../images/desktop-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /* Page Logo */
  .page-logo > a > img {
    z-index: 101;
    width: 200px;
    margin: 0.5em;
  }
  #logo:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  /* Stylings for Header */
  .site-navigation {
    height: 70px;
  }
  /* Menu Styles */
  #navigation-menu {
    display: block;
    background: none;
    opacity: 1;
    padding-right: 0;
    height: 50px;
  }
  #menu {
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
  }
  a:hover {
    color: grey;
  }
  /* Nav toggle */
  .nav-toggle-box-label {
    display: none;
  }
  /* Hero Section */
  #hero-section {
    background: url("../images/hero-img-1920x900.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 16/9;
  }
  #slogan {
    height: fit-content;
    margin-top: 250px;
    margin-left: 3rem;
    width: auto;
  }
  #slogan > h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    text-shadow: 2px 2px 5px black;
  }
  #slogan > h1 > span {
    font-size: 4.5rem;
  }
  /* Cars Section */
  #cars {
    max-width: 1200px;
    align-self: center;
  }
}
/* Loading Screen */
#loading {
  opacity: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  visibility: visible;
  z-index: 999999;
  position: fixed;
  background-color: #000000eb;
  animation: fade-away 0.2s 2s ease-in forwards;
  top: 0;
  left: 0;
}
#wheel {
  opacity: 0;
  animation: fade-in 0.2s 0.1s ease-in forwards,
    wheel-spin 3.5s 0.5s ease-in none, speed-off 0.9s 1.6s ease-in forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes wheel-spin {
  to {
    transform: rotateZ(9080deg);
  }
}
@keyframes speed-off {
  to {
    transform: translateX(4000px);
  }
}
@keyframes fade-away {
  to {
    visibility: hidden;
    z-index: -999;
    opacity: 0;
  }
}
