/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400&family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geologica, sans-serif;
  color: #fff;
}
body {
  background-color: #464646;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
}
/* Page Header */
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* Page Logo */
.page-logo {
  padding: 0 1em;
}
/* Navigation Toggle Button */
#nav-toggle-box {
  display: none;
}
.fa-bars {
  font-size: 2rem;
  cursor: pointer;
}
.nav-toggle-box-label {
  padding: 0 1em;
}
